:root {
  /*--primary-color: #535C91;*/
  --primary-color: #AA83F7;
  /* --primary-color: #A37CF0; */
  --secondary-color: #682BD7;
  --tertiary-color: #BD2E95;
  --success-color: #28a745;
  --danger-color: #dc3545;
  --warning-color: #ffc107;

  /*--body-bg: #070F2B;*/
  --body-bg: #000000;
  --body-color: #ffffff;

  --text-color: #ffffff;

  --link-color: var(--primary-color);
}